Question 1:

---


Recreate “NB 21 map, filter, lambda.ipynb” to try different variations or perform different calculations from
the ones that are in the NB

Answer:--------------------------

1.map(), filter() and reduce() are built-in functions of Python.

  These functions enable the functional programming aspect of Python.

  In Functional Programming, the arguments passed are the only factors 
  that decide upon the output.

  These functions can take any other function as a parameter and can
  be supplied  to other functions as parameters as well.

  map()-
  It applies the given function to all iterables and returns a new list.

  SYNTAX:

  map(function, iterables)



---

Example--
Calculate the length of each word in the tuple:

In [ ]:
def myfunc(n):
  return len(n)

x = map(myfunc, ('apple', 'banana', 'cherry'))

#convert the map into a list, for readability:
print(list(x))

Example 2--
Make new fruits by sending two iterable objects into the function:

In [ ]:
def myfunc(a, b):
  return a + b

x = map(myfunc, ('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple'))

#convert the map into a list, for readability:
print(list(x))

Example 3: Passing Multiple Iterators to map() Using Lambda
In this example, corresponding items of two lists are added.

In [ ]:
num1 = [4, 5, 6]
num2 = [5, 6, 7]

result = map(lambda n1, n2: n1+n2, num1, num2)
print(list(result))

2. Lambda functions
  Everything in the world of programming requires a name, but there 
  still there   are a few ananymous mysteries. Lambda functions or 
  Lambda expressions are one   of these kind of entities that are nameless.

  They are the functions that do not have any name.

  We also call them as anonymous or nameless functions.

  They are generally provided as input to other functions.

  Lambda functions are single line functions. Therefore we have to provide 
  the expression along with the function itself.

  Note: 'lambda' is not a name, it s a keyword.

  Use of lambda functions:

  One time use: They are used in places where we know that the function
  will be required just once. Therefore, lambda functions are also called 
  as throw away functions.

  Input/Output to other functions: They are also passed as inputs or 
  returned as outputs of other higher-order functions.

  Reduce Code size: The body of lambda functions is written in a single line.

  SYNTAX:

  lambda arguments: expression

Example :Use that function definition to make a function that always doubles   the number you send in:

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(745))

Example 2: Here is an example use of map() function to double all the items in a list.

In [18]:
# Program to double each item in a list using map()

my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(map(lambda x: x * 2 , my_list))

print(new_list)

[2, 10, 8, 12, 16, 22, 6, 24]

Example 3 :The lambda function assigned to full_name takes two arguments and returns a string interpolating the two parameters first and last

In [ ]:
 full_name = lambda first, last: f'Full name: {first.title()} {last.title()}'
 full_name('anshul', 'nishad')

3.filter():
  It is used to filter the given iterables with the help of another 
  function passed as an argument to test all the elements to be True or False.

  SYNTAX:

  filter(function, iterables)

Example 1 :Function that filters vowels

In [ ]:
def fun(variable): 
	letters = ['a', 'e', 'i', 'o', 'u'] 
	if (variable in letters): 
		return True
	else: 
		return False


# sequence 
sequence = ['a','n','s','h','u','l','n','i','s','h','a','d'] 

# using filter function 
filtered = filter(fun, sequence) 

print('The filtered letters are:') 
for s in filtered: 
	print(s)

Example 2 : Function That filters even and odd numbers

In [ ]:
# a list contains both even and odd numbers. 
seq = [0, 1, 2, 3, 5, 8, 13] 

# result contains odd numbers of the list 
result = filter(lambda x: x % 2 != 0, seq) 
print(f'The odd numbers are : {list(result)}') 

# result contains even numbers of the list 
result = filter(lambda x: x % 2 == 0, seq) 
print(f'The even numbers are : {list(result)}')

Example 3:Filter the array, and return a new array with only the values equal to or above 18:

In [ ]:
ages = [5, 12, 17, 18, 24, 32, 3, 64, 27, 16, 9, 22]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages)

for x in adults:
  print(x)

4.reduce():
It applies some other function to a list that are passed as a parameter to 
it and finally return a single value.

   SYNTAX:
 
   reduce(function, iterables)

Example 1: Factorial of a number using reduce method

In [ ]:
from functools import reduce
def mult(x,y):
    print("x=",x," y=",y)
    return x*y

fact=reduce(mult, range(1, 12))
print ('Factorial of 11: ', fact)

Example 2: To find maximum element in the given list using reduce method

In [ ]:
# python code to demonstrate working of reduce() 

# importing functools for reduce() 
from functools import reduce 

# initializing list 
lis = [ 1 , 3, 5, 6, 2, 55, 45, 69 ] 

# using reduce to compute maximum element from list 
print (reduce(lambda a,b : a if a > b else b,lis))

Example 3:Concate strings using reduce method

In [ ]:
from functools import reduce
#importing operator function to use add method.
from operator import add

# using reduce to concatenate string 
print ("The concatenated product is : ",end="") 
print (reduce(add,["Nishad"," ","Ansh"]))

Question 2:
Recreate your own Python NB for “Classes and Objects” from the pdf provided namely
“Classes&Objects.pdf”

Answer 2:-----------

Python Classes/Objects
Python is an object oriented programming language.

Almost everything in Python is an object, with its properties and methods.

A Class is like an object constructor, or a "blueprint" for creating objects.

**Create a Class**
To create a class, use the keyword **class**:

Example
Create a class named MyClass, with a property named x:

In [ ]:
class MyClass:
  x = 5

MyClass()

Create Object
Now we can use the class named MyClass to create objects:

Example
Create an object named p1, and print the value of x:

In [ ]:
class MyClass:
  x = 5

p1 = MyClass()
print(p1.x)

The __init()__ Function
The examples above are classes and objects in their simplest form, and are not really useful in real life applications

To understand the meaning of classes we have to understand the built-in __init__() function.

All classes have a function called __init__(), which is always executed when the class is being initiated.

Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created:

**Example**
Create a class named Person, use the __init__() function to assign values for name and age:

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

**Note**: The __init__() function is called automatically every time the class is being used to create a new object.

**Object Methods**
Objects can also contain methods. Methods in objects are functions that belong to the object.

Let us create a method in the Person class:

**Example**
Insert a function that prints a greeting, and execute it on the p1 object:

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

**Note**: The **self** parameter is a reference to the current instance of the class, and is used to access variables that belong to the class.

**The self Parameter**
The **self** parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.

It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class:

**Example**
Use the words **mysillyobject** and **abc** instead of self:

In [31]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

**Modify Object Properties**
You can modify properties on objects like this:

**Example**
Set the age of p1 to 40:

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)

p1.age = 40

print(p1.age)

**Delete Object Properties**
You can delete properties on objects by using the ***del*** keyword:

**Example**
Delete the age property from the p1 object:

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)

del p1.age

print(p1.age) #Here it throw an error because the age object has deleted

**Delete Objects**
You can delete objects by using the del keyword:

**Example**
Delete the p1 object:

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)

del p1

print(p1) # Here it throws an error because the p1 object has been deleted

**The pass Statement**:
***class*** definitions cannot be empty, but if you for some reason have a ***class*** definition with no content, put in the ***pass*** statement to avoid getting an error.

**Example**

In [37]:
class Person:
  pass

# having an empty class definition like this, would raise an error without the pass statement

**Inheritance**:
***Inheritance*** allows us to define a class that inherits all the methods and properties from another class.

**Parent class** is the class being inherited from, also called base class.

**Child class** is the class that inherits from another class, also called derived class.

**Create a Parent Class**
Any class can be a parent class, so the syntax is the same as creating any other class:

**Example**
Create a class named Person, with firstname and lastname properties, and a printname method:

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

**Create a Child Class**:
To create a class that inherits the functionality from another class, send the parent class as a parameter when creating the child class:

**Example**
Create a class named Student, which will inherit the properties and methods from the Person class:

In [39]:
class Student(Person):
  pass

**Note**: Use the ***pass*** keyword when you do not want to add any other properties or methods to the class.

Now the Student class has the same properties and methods as the Person class.

**Example**
Use the Student class to create an object, and then execute the printname method:

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  pass

x = Student("Mike", "Olsen")
x.printname()

Add the __init__() Function
So far we have created a child class that inherits the properties and methods from its parent.

We want to add the __init__() function to the child class (instead of the pass keyword).

**Note**: The __init__() function is called automatically every time the class is being used to create a new object.

**Example**:
Add the __init__() function to the Student class:

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    #add properties etc.

When you add the __init__() function, the child class will no longer inherit the parent's __init__() function.

**Note**: The child's __init__() function **overrides** the inheritance of the parent's __init__() function.

To keep the inheritance of the parent's __init__() function, add a call to the parent's __init__() function:

**Example**

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    Person.__init__(self, fname, lname)

x = Student("Mike", "Olsen")
x.printname()

Now we have successfully added the __init__() function, and kept the inheritance of the parent class, and we are ready to add functionality in the __init__() function.

**Use the super() Function**
Python also has a **super**() function that will make the child class inherit all the methods and properties from its parent:

**Example**

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)

x = Student("Mike", "Olsen")
x.printname()

By using the **super**() function, you do not have to use the name of the parent element, it will automatically inherit the methods and properties from its parent.

**Add Properties**

Example
Add a property called ***graduationyear*** to the ***Student*** class:

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2021

x = Student("Mike", "Olsen")
print(x.graduationyear)

In the example below, the year 2021 should be a variable, and passed into the Student class when creating student objects. To do so, add another parameter in the __init__() function:

**Example**

Add a year parameter, and pass the correct year when creating objects:

In [47]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

x = Student("Mike", "Olsen", 2021)
print(x.graduationyear)

2021

**Add Methods**

**Example**
Add a method called welcome to the Student class:

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

x = Student("Mike", "Olsen", 2021)
x.welcome()

__If you add a method in the child class with the same name as a function in the parent class, the inheritance of the parent method will be overridden.__